* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: gray;
}

.image {
  background-color: black;
  padding: 15px;
  margin: 5px;
  text-align: center;
}
.image .float-left {
  height: 600px;
  width: 450px;
}
.image .float-left2 {
  height: 600px;
  width: 400px;
}
.image .float-right {
  height: 600px;
  width: 350px;
}
.image .float-right2 {
  height: 600px;
  width: 450px;
}

@media screen and (max-width: 1703px) {
  .image {
    background-color: black;
    background-position: center;
    padding: 15px;
    margin: 5px;
    text-align: center;
  }
  .image .float-left {
    height: 500px;
    width: 350px;
  }
  .image .float-left2 {
    height: 500px;
    width: 300px;
  }
  .image .float-right {
    height: 500px;
    width: 300px;
  }
  .image .float-right2 {
    height: 500px;
    width: 350px;
  }
}
@media screen and (max-width: 1352px) {
  .image {
    background-color: black;
    background-position: center;
    padding: 15px;
    margin: 5px;
    text-align: center;
  }
  .image .float-left {
    height: 400px;
    width: 250px;
  }
  .image .float-left2 {
    height: 400px;
    width: 250px;
  }
  .image .float-right {
    height: 400px;
    width: 250px;
  }
  .image .float-right2 {
    height: 400px;
    width: 300px;
  }
}
@media screen and (max-width: 1103px) {
  .image {
    background-color: black;
    background-position: center;
    padding: 15px;
    margin: 5px;
    text-align: center;
  }
  .image .float-left {
    height: 200px;
    width: 150px;
  }
  .image .float-left2 {
    height: 200px;
    width: 150px;
  }
  .image .float-right {
    height: 200px;
    width: 170px;
  }
  .image .float-right2 {
    height: 200px;
    width: 150px;
  }
}
@media screen and (max-width: 673px) {
  .image {
    background-color: black;
    background-position: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .image .float-left {
    height: 200px;
    width: 140px;
  }
  .image .float-left2 {
    height: 200px;
    width: 130px;
  }
  .image .float-right {
    height: 200px;
    width: 130px;
  }
  .image .float-right2 {
    height: 200px;
    width: 140px;
  }
}
@media screen and (max-width: 673px) {
  .image {
    background-color: black;
    background-position: center;
    text-align: center;
  }
  .image .float-right {
    height: 0;
    width: 0;
  }
}
@media screen and (max-width: 453px) {
  .image {
    background-color: black;
    background-position: center;
    text-align: center;
  }
  .image .float-left {
    height: 250px;
    width: 150px;
  }
  .image .float-left2 {
    height: 250px;
    width: 150px;
  }
  .image .float-right2 {
    height: 0;
    width: 0;
  }
}
@media screen and (max-width: 334px) {
  .image {
    background-color: black;
    background-position: center;
    text-align: center;
  }
  .image .float-left {
    height: 250px;
    width: 150px;
  }
  .image .float-left2 {
    height: 0px;
    width: 0px;
  }
  .image .float-right {
    height: 0;
    padding: 0;
  }
  .image .float-right2 {
    height: 0;
    width: 0;
  }
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 350px;
  height: 200px;
}

.desc {
  padding: 15px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
